/* Global properties*/

* {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: menu;
}

.layout{
    display: flex;
}

.activeImg{
    transform: scale(1.15);
}
.activeImg:hover{
    transform: scale(1.00);
}

.header{
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 17px;
}

.border{
    border: 1px solid black;
    border-top: 0px;
}


/* Left area: file browser */
#file-browser{
    width: 15vw;
    background-color: rgb(28, 30, 31);
    word-wrap: normal;
}

#fb-title{
    display: flex;
    background-color: rgb(28, 30, 31);
    height: 6vh;
    border-left: 0;
    border-right: 0;
    margin-left: 5%;
    margin-right: 5%;
    border-color: white;
}

#fb-files{
    height: 94vh;
    overflow: auto;
    border-left: 0;
}

#browser-name{
    width: 70%;
    cursor: default;
    user-select: none;
    color: white;
}

#browser-img{
    width: 30%;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7456%) hue-rotate(315deg) brightness(113%) contrast(100%);
}

#files-img:hover{ 
    transform: scale(1.15);
}

#browser-img:hover #files-img{
    transform: scale(1.15);
}


#file-area{
    width: 85vw;
}

.file{
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

.file:hover{
    background-color: rgb(78, 80, 81);
}
/*
.file:hover{
    transition-delay: 500ms;
    width: 100%;
    position: absolute;
}
*/
.fileActive{
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    background-color: rgb(78, 80, 81);
    padding-left: 3px;
    padding-top: 5px;
    border-left:7px solid #66A5Ad ;
}

.popup{
    visibility: hidden;
    background-color: black;
    padding: 0 2px 0 2px;
    position: inherit;
}

.file:hover .popup{
    transition-delay: 500ms;
    visibility: visible;
    position: absolute;
    z-index: 5;
    left:16%;
}

.fileActive:hover .popup{
    transition-delay: 500ms;
    visibility: visible;
    position: absolute;
    z-index: 5;
    left:16%;
}

/* Right area: edit file*/
#title-bar{
    display: flex;
    width: 100%;
    background-color: rgb(28, 30, 31);
    height: 6vh;
    text-align: center;
    border-left: 0;
    border-right: 0;
}

#date{
    width: 33.33%;
    height: 4vh;
    cursor: default;
    color: white;
    border-left: white solid 1px;
}

#file-name{
    width: 33.33%;
    height: 4vh;
    overflow: auto;
    color: white;
    padding: 0 5px 0 5px;
    border-left: white solid 1px;
}

#customTxt{
    width: 33.33%;
    height: 4vh;
    overflow: auto;
    text-align: left;
    color: white;
    padding: 0 5px 0 5px;
    border-left: white solid 1px;
}



#editor{
    width: 85vw;
    height: 94vh;
    overflow: auto;
    flex-grow: 1;
    outline: none;
    border: none;
    background-color: #e6e6e6;
    padding: 1ch 0 1ch 1ch;
}



/* ScrollBars*/

::-webkit-scrollbar {
    width: 1ch;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(118, 120, 121);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 150, 151); 
}
